<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>TJ Beta</name>

  <description>
      TukarJual Beta v1.0
  </description>

  <author href="https://tukarjual.com/bio" email="arifin.hendri465@gmail.com">
      Hendri Arifin
  </author>

  <platform name="android" />

</widget>